In [1]:
import os
import pandas as pd

In [2]:
savelist = [[] for i in range(7)]
for filename in os.listdir('data'):
    temp = str.split(filename, '_')
    for i, val in enumerate(temp):
        savelist[i].append(val)
print(savelist)

[['Q255', 'Q255'], ['c', 'D'], ['3', '3'], ['30', '30'], ['500', '1423'], ['2', '2'], ['2', '1']]

In [3]:
data = pd.DataFrame(savelist, index=['tag', 'type', 'condition', 'a', 'b', 'c', 'd'])
transposed_data = data.transpose()
transposed_data.to_csv('data.csv', index=False)

In [4]:
transposed_data.head()

    tag type condition   a     b  c  d
0  Q255    c         3  30   500  2  2
1  Q255    D         3  30  1423  2  1